<!DOCTYPE html>
<html>
<head>
  <title>About Me</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <div class "container">
    <h1>About Me</h1>
    <p>I'm a 14-year-old with a passion for programming, cybersecurity, and much more. Let's connect and share our experiences in the tech world!</p>
    <a href="/">Back to Home</a>
  </div>
</body>
<script src="/js/cursor_follower.js"></script>
</html>
