<!DOCTYPE html>
<html>
<head>
  <title>About Me</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <div class="container">
    <h1>About Me</h1>
    <p>Hey! I'm posydon (or just Arthur). I love programming, reading, and playing the piano in my free time!</p>
    <p>This is my site, where you can find all of the significant projects that I have made.</p>
    <p>For the insignificant ones check <a href = "https://github.com/p0syd0n">my GitHub</a>.</p>

    <a href="/">Back to Home</a>
  </div>
</body>
<script src="/js/cursor_follower.js"></script>
</html>

