<!DOCTYPE html>
<html>
<head>
  <title>Welcome to My Portfolio</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to My Portfolio</h1>
    <p>Explore my work, interests, and projects in the world of programming and technology.</p>
    <a href="/about">Learn more about me</a>
  </div>
</body>
<script src="/js/cursor_follower.js"></script>
</html>
