<!DOCTYPE html>
<html>
<head>
  <title>Welcome to My Portfolio</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to Posydon's Portfolio</h1>
    <p>My name is posydon, I'm a budding developer.</p>
    <p>I know Python, JavaScript, and am learning c#.</p>
    <a href="/about">Learn more about me</a>
  </div>
</body>
<script src="/js/cursor_follower.js"></script>
</html>
