<!DOCTYPE html>
<html>
<head>
  <title>Projects</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <div class="container">
    <h1>Projects</h1>
    <li>
      <p><b></b>Atlantic<br>Largest project of mine to date! Chat app made with Node.js. Complete with a database, user authentication system, real-time messaging, direct messaging, and audio calls, this app was created as a Discord replacement for the people at my high school.<br><a href="https://atlantic.adaptable.app" >Deployment</a>(Feel free to create an account and share!)<br><a href="https:/github.com/p0syd0n/atlantic">GitHub Repository</a></p>
      <p><b>Padfoot</b>Built from scratch botnet with c2c server, client, and control code. Functionality includes screen streaming, shell access, and messageboxes.<br><a href="https://github.com/p0syd0n/padfoot_server">Server GitHub Repository/a><br><a href="https://github.com/p0syd0n/padfoot_control">Control GitHub Repository</a><br><a href="https://github.com/p0syd0n/padfoot_client">Client GitHub Repository</a></p>
      <p><b>Language Model</b>Little thing that generates sentances based omost likely next word. THe training data is all of the Harry Potter Books, the entirety of Crime and Punishment, and I think I added War and Peace.<br><a href="https://replit.com/@posydon">Replit</a></p>
    </li>
    <a href="/about">Learn more about me</a>
  </div>
</body>
<script src="/js/cursor_follower.js"></script>
</html>
